*.pyc
build/*
.*.swp
*~
.deps/main.Po
ChangeLog
*Makefile
*Makefile.in
NEWS
*aclocal.m4
*autoTester
*autom4te.cache/*
config*
depcomp
install-sh
libtool
ltmain.sh
*.o
missing
stamp-h1
src/.deps/*
prototypes/playing/.deps/
src/gsampler
